
<div class="tabs-svo" data-tab="1">
    <header class="tabs-svo__header">
        <ul class="tabs-svo__tab-list">
            <li class="tabs-svo__tab btn-svo" data-header="1">Клиенты</li>
            <li class="tabs-svo__tab tabs-svo__tab--active btn-svo" data-header="2">Транзакции</li>
            <li class="tabs-svo__tab btn-svo" data-header="3">Сумма</li>
            <li class="tabs-svo__tab btn-svo" data-header="4">Cashback</li>
        </ul>
    </header>
    <div class="tabs-svo__body">
        <div class="tabs-svo__window" data-body="1">
            <h2>1</h2>
        </div>
        <div class="tabs-svo__window" data-body="2">
            <h2>2</h2>
        </div>
        <div class="tabs-svo__window" data-body="3">
            <h2>3</h2>
        </div>
        <div class="tabs-svo__window" data-body="4">
            <h2>4</h2>
        </div>
    </div>
</div> 
